<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="nuget.robotsman.com" value="http://10.58.1.1:5555/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="nuget.robotsman.com">
            <package pattern="Ronavi.*" />
            <package pattern="Ronavi.A.*" />
            <package pattern="Ronavi.Adaptor" />
        </packageSource>
        <packageSource key="nuget2.robotsman.com">
            <package pattern="Ronavi.Adaptor" />
            <package pattern="Ronavi.*" />
        </packageSource>
    </packageSourceMapping>

</configuration>
